#card {
  width: 14.5rem;
  min-height: 24rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  border: 2px solid;
  background-color: #4267b123;
  border-radius: 0.5rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  /* transition: all 0.2s ease-in-out; */
  transition: box-shadow 0.1s, transform 0.1s;
  animation: bord 2s ease-in-out infinite;
}

#card span {
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#card > p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 600;
  color: rgb(44, 44, 44);
  transition: all 0.2s ease-in-out;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#card:hover {
  box-shadow: inset 0px 0px 10px #4267b1;
  cursor: pointer;
}

#card > img {
  height: 2rem;
  width: 2rem;
  filter: invert(1);
}

@keyframes bord {
  0% {
    border-color: #4267b1 #42621038 #42621038 #42621038;
  }
  25% {
    border-color: #42621038 #4267b1 #42621038 #42621038;
  }
  50% {
    border-color: #42621038 #42621038 #4267b1 #42621038;
  }
  75% {
    border-color: #42621038 #42621038 #42621038 #4267b1;
  }
  100% {
    border-color: #4267b1 #42621038 #42621038 #42621038;
  }
}

/* 
  #4267b1
  #fdc010 
  */

#tilt {
  display: block;
  transition: box-shadow 0.1s, transform 0.1s;
}

/* #card:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
} */
