.events {
  width: 100%;
  padding: 2.5rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4rem;
}

.events > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.events h1 {
  color: #fdc010;
  font-size: 3rem;
}

.events > div > div:nth-child(1) {
  display: flex;
  gap: 4rem;
}

.events > div > div:nth-child(1) > p {
  font-size: 2.1rem;
  color: #000000ab;
  cursor: pointer;
  text-align: center;
}

#clicked {
  color: black;
}

.events > div > div:nth-child(2) {
  background-color: #0a5495;
  display: flex;
  padding: 2rem 4rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15.625rem;
  gap: 10rem;
}

.events > div > div:nth-child(2) > div {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.events > div > div:nth-child(2) > div > div {
  display: flex;
  gap: 8rem;
}

.events > div > div:nth-child(2) > div > div > h4 {
  padding: 0.8rem 2rem;
  font-size: 19px;
  text-align: end;
  width: 14rem;
}

.events > div > div:nth-child(2) > div > div > h4:nth-child(1) {
  background-color: #fee580;
}

.events > div > div:nth-child(2) > div > div > h4:nth-child(2) {
  background-color: black;
  color: white;
}

.events > div > div:nth-child(2) > div > h4 {
  color: white;
  font-size: 1rem;
}

.events > div > div:nth-child(3) {
  display: flex;
  gap: 4rem;
  justify-content: start;
  align-items: center;
  padding: 0 2rem;
}

.events > div > div:nth-child(3) > img {
  box-shadow: 0px 4px 6px 0px #00000040;
}

.events > div > div:nth-child(3) > h6 {
  font-size: 22px;
  color: #25315d;
}

.events > div > div:nth-child(4) {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  width: 100%;
}

.events > div > div:nth-child(4) > div {
  display: flex;
  gap: 3rem;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.events > div > div:nth-child(4) > div > div:nth-child(1) {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.events > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(1) {
  background-color: #fee580;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.events
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  > div:nth-child(1)
  > h6 {
  font-size: 1.6rem;
}

.events
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  > div:nth-child(2)
  > h6 {
  font-size: 1.5rem;
  color: #000000b2;
}

.events > div > div:nth-child(4) > div > p {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  background: linear-gradient(0deg, #fdc010, #fdc010);
  cursor: pointer;
  border-radius: 1.25rem;
}

@media screen and (max-width: 1360px) {
  .events > div > div:nth-child(2) > div > div {
    gap: 10%;
  }
  .events > div > div:nth-child(2) > div > div > h4 {
    font-size: 0.9rem;
  }
  .events > div > div:nth-child(2) > div {
    width: 70%;
    gap: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .events {
    width: 100%;
    padding: 4rem 2rem;
    gap: 4rem;
  }
  .events > div > div:nth-child(2) > div {
    width: 80%;
    gap: 1rem;
  }
  .events > div > div:nth-child(2) {
    gap: 2rem;
  }
  
}

@media screen and (max-width: 850px) {
  .events {
    padding: 0rem 2rem;
  }
  .events > div {
    gap: 1rem;
  }
  .events h1 {
    font-size: 2rem;
  }
  .events > div > div:nth-child(1) {
    width: 100%;
    gap: 0;
    align-items: center;
    justify-content: space-between;
  }
  .events > div > div:nth-child(1) > p {
    font-size: 1.4rem;
  }
  .events > div > div:nth-child(2) {
    flex-direction: column;
    padding: 1rem 1rem;
    height: auto;
    gap: 3rem;
  }
  .events > div > div:nth-child(2) > div {
    width: 100%;
    align-items: center;
    gap: 1rem;
  }
  .events > div > div:nth-child(2) > div > div {
    gap: 1.5rem;
  }
  .events > div > div:nth-child(2) > div > div > h4 {
    padding-left: 0;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    width: 9rem;
  }
  .events > div > div:nth-child(2) > div > h4 {
    color: white;
    font-size: 0.9rem;
  }
  .events > div > div:nth-child(3) {
    flex-direction: column;
    gap: 0;
  }
  .events > div > div:nth-child(3) > h6 {
    font-size: 18px;
    padding-bottom: 1rem;
  }
  .events > div > div:nth-child(4) {
    margin-top: 2rem;
    gap: 2rem;
  }
  .events > div > div:nth-child(4) > div {
    gap: 0.2rem;
    width: 96%;
  }
  .events > div > div:nth-child(4) > div > div:nth-child(1) {
    gap: 0.5rem;
  }
  .events > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(1) {
    padding: 0.2rem 2rem;
  }
  .events
    > div
    > div:nth-child(4)
    > div
    > div:nth-child(1)
    > div:nth-child(1)
    > h6 {
    font-size: 0.8rem;
  }

  .events
    > div
    > div:nth-child(4)
    > div
    > div:nth-child(1)
    > div:nth-child(2)
    > h6 {
    font-size: 0.7rem;
  }

  .events > div > div:nth-child(4) > div > p {
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .events {
    padding: 0rem 1rem;
  }
}
