.pf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #0000009e;
  z-index: 900;
}

.sc {
  height: 65vh;
  overflow-y: scroll;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 23rem;
  min-width: 23rem;
}

.form {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.7rem;
  padding: 1rem;
  border-radius: 0.5rem; */

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: white;
  margin: auto;
  gap: 0.7rem;
  padding: 1.1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form label {
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 0.2rem;
}

.form h3 {
  font-weight: 400;
  font-size: 11px;
}

.form h2 {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05rem;
}

.form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
}

.form > div:nth-child(6) > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.form > div > input,
.choose {
  background-color: #fff1bc;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  border: none;
}

.form > input:nth-last-child(1) {
  cursor: pointer;
}

#abs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.phone {
  background-color: #fff1bc;
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  border: none;
}

.phone input {
  background-color: #fff1bc;
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  border: none;
}

.form input {
  font-size: 0.85rem;
}

.form > button {
  background-color: #fdc010;
  border: 1px solid #fdc010;
  box-shadow: 0px 4px 24px 0px #00000040;
  color: white;
  font-weight: 500;
  font-size: 1.23rem;
  width: 100%;
  border-radius: 12px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form > button:hover {
  background-color: #fff1bc;
  color: black;
  transform: scale(0.95);
}

.choose {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(139, 139, 139);
  height: auto;
  gap: 0.5rem;
}

.choose p {
  color: black;
  font-size: 0.8rem;
}

.choose,
.form li {
  cursor: pointer;
}

.sc1 {
  height: 9rem;
  overflow-y: scroll;
  position: absolute;
  bottom: 5rem;
  border-radius: 12px;
}

.form ul {
  padding: 0 1rem;
  border: 1px solid #fdc010;
  background-color: #fffbed;
  border-radius: 12px;
  z-index: 500;
}

.form li {
  padding: 0.5rem 0rem;
  border-bottom: 1px solid #ff750080;
  color: rgb(131, 131, 131);
}

.form li:nth-last-child(1) {
  border: none;
}

#click {
  color: black;
}

@media screen and (max-width: 400px) {
  .form {
    width: 95%;
    min-width: 2rem;
  }

  .sc {
    min-width: 20rem;
  }

  .phone {
    width: 100%;
  }

  .phone input {
    width: 100%;
  }
  .form > div > input,
  .choose {
    width: 100%;
  }

  .form > button {
    width: 100%;
  }
}
