.about {
  width: 100%;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

.about p {
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}

.about > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marqueecontainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.marqueecontent {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 50s linear infinite;
  display: flex;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 3rem 2rem;
    gap: 3rem;
  }
  .about > div > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .about {
    padding: 4rem 1rem;
    gap: 1rem;
  }
  .about p {
    font-size: 0.85rem;
  }
  .about > div > div {
    flex-direction: column;
  }
  .about > div > div > img {
    height: 15rem;
    width: 20rem;
  }
}
