.why {
  position: relative;
  height: auto;
  width: 100vw;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.abs {
  width: 100vw;
  height: 15rem;
  background-color: #0a5495;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cards {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
