.us {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding: 3rem 0;
}

.us h3 {
  font-size: 3rem;
  font-weight: 500;
}

.us p {
  font-family: "Inter";
  font-size: 1.3rem;
  line-height: 30px;
  text-align: justify;
}

.us button {
  box-shadow: 0px 8px 8px 0px #00000040;
  background-color: #fdc010;
  border: none;
  border-radius: 0.6rem;
  padding: 1rem 1.6rem;
  font-size: 20px;
  cursor: pointer;
}

.us li {
  font-size: 1.32rem;
  margin-top: 0.4rem;
  margin-left: 2rem;
}

.c1 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.c2 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.c3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.c3 h3,
.c4 h3,
.c6 h3 {
  font-size: 2rem;
}

.c3 p {
  width: 7rem;
  text-align: center;
  background-color: #fecb02;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
}

.c3 > div {
  background-color: #d9d9d9;
  width: 100%;
  height: auto;
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
  align-items: center;
}

.c4 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.c5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.c6 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.tableContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.courseTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}

.courseTable th,
.courseTable td {
  border: 1px solid #000;
  padding: 2rem 2rem;
  text-align: left;
}

.courseTable th {
  font-size: 1.5rem;
  font-weight: 400;
}

.courseTable td {
  font-size: 1.2rem;
}

.courseTable thead {
  border-bottom: 2px solid #000;
}

.c7 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.2rem;
}

.c7 li {
  font-size: 1.3rem;
  margin-left: 2rem;
}

.c7 ul {
  list-style-type: disc;
}

@media screen and (max-width: 830px) {
  .c3 > div {
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .us h3 {
    font-size: 2rem;
  }
  .us p {
    font-size: 0.9rem;
    line-height: 25px;
  }
  .c3 h3,
  .c4 h3,
  .c6 h3 {
    font-size: 1.3rem;
  }
  .us li {
    font-size: 1rem;
  }
}
