.container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav {
  width: 94%;
  margin: 1.5rem 0;
  color: gray;
}

.whiteContainer {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 2rem;
  margin: 2rem 0;
}

.blueContainer {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a5495;
  padding: 2rem 2rem;
  margin: 2rem 0;
  color: white;
}

.whiteContainer > div,
.blueContainer > div {
  width: 80%;
}

.line {
  position: absolute;
  background-color: black;
  bottom: -0.4rem;
  height: 0.2rem;
  width: 7rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.desc {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.8rem;
}

.desc1 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: right;
  line-height: 1.8rem;
  padding-left: 4rem;
}

.desc2 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.8rem;
  padding-right: 4rem;
}

.phil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
}

.philBox {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
  align-items: center;
}

.philCard {
  position: relative;
  width: 20rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.philCard > img {
  width: 20rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 0.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.black {
  background: #000000b0;
  height: 6rem;
  width: 20rem;
  z-index: 2;
  position: relative;
  padding: 2.5rem 1rem 1rem 1rem;
  border-radius: 0.6rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  flex-direction: column;
}

.black > div:nth-child(3) {
  opacity: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}

.black > img {
  position: absolute;
  top: -2rem;
  left: 8rem;
  height: 4rem;
  width: 4rem;
}

.philCard:hover .black {
  height: 18rem;
}

.philCard:hover .black > div:nth-child(3) {
  opacity: 1;
  display: block;
}

.philCard:hover .black > div:nth-child(2) {
  opacity: 0;
  display: none;
}

/* .philCard > div {
  position: absolute;
  width: 10rem;
  left: calc(50% - 5rem);
  top: calc(100% - 3.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

.how {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.howBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.howBox > div:nth-child(1) {
  border: 2px solid red;
}

.howBox > div:nth-child(2) {
  border: 2px solid yellow;
}

.howBox > div:nth-child(3) {
  border: 2px solid skyblue;
}

.howCard {
  width: 15rem;
  height: 25rem;
  display: flex;
  justify-content: start;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.6rem;
  transition: all 150ms ease-in-out;
}

.howCard:hover {
  transform: scale(1.05);
}

.howCard > img {
  height: 7rem;
  width: auto;
}

.howCard > div:nth-child(2) {
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

.howCard > div:nth-child(3) {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .blueContainer > div,
  .whiteContainer > div {
    width: 100%;
  }

  .whiteContainer {
    padding: 0.5rem;
  }
  .blueContainer {
    padding: 2rem 1rem;
  }
}
