.ac {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  gap: 4rem;
}

.ac > div {
  background-color: #fff1bc;
  box-shadow: 0px 8px 24px 0px #00000040;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 24rem;
}

.ac > div > img {
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
}

.ac > div > p {
  font-size: 1.2rem;
}

@media screen and (max-width: 850px) {
  .ac {
    padding: 4rem 1rem;
    justify-content: center;
  }
  .ac > div > img {
    height: 6rem;
    width: 6rem;
  }
}
