/* src/Modal.css */
.modalBackdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modalContent {
  background-color: #fffbed;
  border-radius: 0.4rem;
  width: 70vw;
  height: 82vh;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem 2rem;
  gap: 1rem;
}

.abs {
  position: absolute;
  top: 3.8%;
  right: 15.8%;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.img > img {
  width: 40vw;
}

@media screen and (max-width: 1100px) {
  .modalContent {
    width: 90vw;
    height: auto;
  }
  .abs {
    right: 6.5%;
  }
  .img {
    flex-direction: column;
    gap: 1rem;
  }
  .img > img {
    display: none;
  }
}
