.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header > div:nth-child(1) {
  background-color: #0a5495;
  display: flex;
  padding: 1rem 2.6rem;
  justify-content: space-between;
  align-items: start;
  color: white;
  height: 9.375rem;
}

.header > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 3rem;
  color: white;
}

.header > div:nth-child(1) > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.header > div:nth-child(1) > div:nth-child(2) img {
  width: 2.2rem;
  height: 2rem;
}

.header > div:nth-child(1) > div:nth-child(2) > * {
  padding: 0.5rem 3rem;
  border-right: 1px solid white;
}

.header > div:nth-child(1) > div:nth-child(2) > *:nth-last-child(1) {
    border: none;
}

.header > div:nth-child(1) > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header > div:nth-child(2) {
  background-color: #fee580;
  height: 4.375rem;
}

.header > div:nth-child(2) a {
    font-size: 19px;
}

.header > div:nth-child(1) > div:nth-child(1) > a:nth-child(2) > img {
    display: none;
    filter: invert(100%);
}

@media screen and (max-width: 1150px) {
  .header a {
    font-size: 0.8rem;
  }
  .header > div:nth-child(1) > div:nth-child(2) > div {
    gap: 1rem;
  }
  .header > div:nth-child(1) > div:nth-child(2) > * {
    padding: 0.5rem 1.2rem;
  }  
}

@media screen and (max-width: 800px) {
    .header div:nth-child(1) > div:nth-child(2) {
        display: none;
    }

    .header > div:nth-child(1) > div:nth-child(1) > a:nth-child(2) > img {
        display: block;
        margin-top: 1.5rem;
    }

    .header div:nth-child(2) {
        height: 1rem;
    }

    .header div:nth-child(1) {
        height: 6rem;
    }

    .header > div:nth-child(1) > div:nth-child(1) {
        width: 100%;
    }
}