.navbar {
  width: 97%;
  height: 3.5rem;
  background-color: #fff9e0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  top: 5rem;
  left: 1.5%;
  box-shadow: 0px 4px 4px 0px #00000040;
  z-index: 100;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9rem;
  width: 95%;
}

.navbar > div {
  background-color: #fee580;
  padding: 0.6rem;
}

.drop1,
.drop2,
.drop3,
.drop4,
.drop5,
.drop6 {
  position: absolute;
}

.drop4 {
  right: 0;
}

.navbar > ul > li > div,
.navbar > ul > li > ul > li > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.3rem;
  z-index: 10;
  align-items: center;
  gap: 1rem;
}

.navbar > ul > li > ul > li > div > p {
  width: 90%;
  text-align: center;
}

.navbar > ul > li > ul > li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ff750080;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar > ul > li > ul > li:nth-last-child(1) {
  border: none;
}

.navbar > ul > li > ul {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 0;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar > ul > li > ul > li > ul {
  position: absolute;
  top: 0;
  left: 14rem;
  background-color: white;
  border-radius: 1rem;
  width: 15rem;
}

.navbar > ul > li > ul > li > ul > li {
  border-bottom: 1px solid #ff750080;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  text-align: center;
}

.navbar > ul > li > ul > li > ul > li:nth-last-child(1) {
  border: none;
}

.navbar h3 {
  font-size: 1.2rem;
}

@media screen and (max-width: 1450px) {
  .navbar > ul {
    gap: 7rem;
  }
}

@media screen and (max-width: 1420px) {
  .navbar > ul {
    gap: 6rem;
  }
}

@media screen and (max-width: 1355px) {
  .navbar > ul {
    gap: 4rem;
  }
}

@media screen and (max-width: 1223px) {
  .navbar > ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 1150px) {
  .navbar h3 {
    font-size: 1rem;
  }
  .navbar > ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 880px) {
  .navbar h3 {
    font-size: 0.9rem;
  }
  .navbar > ul {
    gap: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}
