.countries {
  width: 100%;
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.countries p {
  font-size: 2.25rem;
}

.countries > div:nth-child(2) {
  width: 80%;
}

.countries > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: start;
}

@media screen and (max-width: 1400px) {
  .countries {
    padding: 4rem 5rem;
    align-items: center;
  }
}


@media screen and (max-width: 1300px) {
  .countries {
    padding: 4rem 2rem;
    align-items: start;
  }
}

@media screen and (max-width: 800px) {
  .countries {
    padding: 2rem 1rem;
    gap: 4rem;
  }
  .countries {
    align-items: start;
  }
}
