.countries {
  width: 100%;
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.countries p {
  font-size: 2.25rem;
}

.countries > div:nth-child(2) {
  width: 100%;
  padding: 0 10rem;
}

.countries > div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: start;
}

@media screen and (max-width: 1400px) {
  .countries {
    padding: 1rem 5rem;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .countries {
    padding: 1rem 2rem;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .countries {
    align-items: start;
  }
  .countries > div:nth-child(2) {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .countries {
    padding: 1rem 1rem;
    gap: 0;
  }
  .countries {
    align-items: start;
  }
  .countries p {
    font-size: 1rem;
  }
}
