.help {
  width: 100%;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.help > div:nth-child(1) {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.help > div:nth-child(2) {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  .help {
    padding: 0rem 1rem;
  }

  .help > div:nth-child(2) {
    justify-content: center;
  }
}
